{% extends 'layout.html' %}

{% block content %}
    <details>
        <br>
        <summary>Adicionar novo Curso</summary>
        <form action="/cursos/adicionar-curso" method="POST">
            <input type="text" name="nome" placeholder="Nome do curso" required>

            <input type="int" name="carga_horaria_total" placeholder="Carga Horária Total" required>

            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo" required>
                <option value="" disabled selected>Selecione um tipo</option>
                <option value="Graduacao">Graduação</option>
                <option value="Pos-Graduacao">Pós-Graduação</option>
            </select>

            <button type="submit" class="btn btn-primary btn-sm">Cadastrar curso</button>
        </form>
    </details>

    <br>

    <details open>
        <summary>Pesquisar Cursos</summary>

        <br>

        <form action="/cursos" method="GET" class="d-flex mb-3">
            <input type="text" name="busca" class="form-control me-2" 
                placeholder="Pesquisar por nome ou ID... (Deixe em branco para listar todos)" value="{{ busca }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <a href="/cursos" class="btn btn-secondary ms-2">Limpar</a>
        </form>

        <h1>Lista de Cursos</h1>
        <table class="table table-striped table-hover border">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Carga Horária Total</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso.id_curso }}</td>
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.ch_total }}</td>
                    <td>{{ curso.tipo }}</td>
                    <td>
                        <a href="/cursos/editar-curso/{{ curso.id_curso }}" class="btn btn-warning btn-sm">Editar Curso</a>
                        <a href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}" class="btn btn-warning btn-sm">Editar Disciplinas</a>
                        <a href="/cursos/excluir-curso/{{ curso.id_curso }}" 
                        class="btn btn-danger btn-sm" 
                        onclick="return confirm('Tem certeza que deseja excluir este aluno?')">
                        Excluir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="/cursos?page={{ 1 }}&busca={{ busca }}">Primeira Página</a>
                </li>
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="/cursos?page={{ page - 1 }}&busca={{ busca }}">Anterior</a>
                </li>
                <li class="page-item {% if page >= total_paginas %}disabled{% endif %}">
                    <a class="page-link" href="/cursos?page={{ page + 1 }}&busca={{ busca }}">Próximo</a>
                </li>
                <li class="page-item {% if page >= total_paginas %}disabled{% endif %}">
                    <a class="page-link" href="/cursos?page={{ total_paginas }}&busca={{ busca }}">Última página</a>
                </li>
            </ul>
        </nav>
    </details>
{% endblock %}