{% extends 'layout.html' %}

{% block content %}
<h3>Editar matricula</h3>

    <form action="/matriculas/editar-matricula/{{ id_mat }}/rendimento" method="POST" class="d-flex mb-3">
        
        <label for="nota">
            <input type="number" step="any" name="nota" placeholder="Nota" required>
        </label>

        <label for="frequencia">
            <input type="int" name="frequencia" placeholder="Frequência" required>
        </label>

        <button type="submit" class="btn btn-primary">Editar matricula</button>

    </form>
{% endblock %}