{% extends 'layout.html' %}

{% block content %}

    <a href="/cursos" class="btn btn-secondary">Voltar</a>

    <p><br></p>

    <h1>Adicionar disciplina no curso {{ curso.nome }}</h1>

    <a href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}/adicionar-disciplina/" 
        class="btn btn-primary">Adicionar</a>

    <p><br></p>

    <h1 class="mb-4">Pesquisar Disciplinas</h1>

    <form action="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}" method="GET" class="d-flex mb-3">
        <input style="max-width: 1200px;" type="text" name="busca" class="form-control me-2" 
            placeholder="Pesquisar por nome ou ID... (Deixe em branco para listar todos)" value="{{ busca }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}" class="btn btn-secondary ms-2">Limpar</a>
    </form>

    <h1 class="mb-4">Lista de disciplina do curso {{ curso.nome }} </h1>
        <table class="table table-striped table-hover border">
            <thead class="table-dark">
                <tr>
                    <th>Nome da disciplina</th>
                    <th>Obrigatoriedade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for disciplina_curso in disciplinas_curso %}
                <tr>
                    <td>{{ disciplina_curso.disciplina }}</td>
                    <td>{% if disciplina_curso.obrigatoria == 1 %}
                        Obrigatória
                        {% else %}
                        Não Obrigatoria
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('cursos.alternar_obrigatoriedade_disciplina', 
                        id_curso=disciplina_curso.id_curso, id_disc=disciplina_curso.id_disc) }}" 
                        class="btn btn-warning btn-sm">Alterar Obrigatoriedade</a>
                        <a href="{{ url_for('cursos.excluir_disciplina_curso', 
                        id_curso=disciplina_curso.id_curso, id_disc=disciplina_curso.id_disc) }}" 
                        class="btn btn-danger btn-sm" 
                        onclick="return confirm('Tem certeza que deseja excluir este aluno?')">
                        Excluir Disciplina do Curso
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}?page={{ 1 }}&busca={{ busca }}">Primeira Página</a>
                </li>
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}?page={{ page - 1 }}&busca={{ busca }}">Anterior</a>
                </li>
                <li class="page-item {% if page >= total_paginas %}disabled{% endif %}">
                    <a class="page-link" href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}?page={{ page + 1 }}&busca={{ busca }}">Próximo</a>
                </li>
                <li class="page-item {% if page >= total_paginas %}disabled{% endif %}">
                    <a class="page-link" href="/cursos/editar-disciplinas-curso/{{ curso.id_curso }}?page={{ total_paginas }}&busca={{ busca }}">Última página</a>
                </li>
            </ul>
        </nav>
{% endblock %}