{% extends 'layout.html' %}

{% block content %}
    <h3>Atualizar informações do aluno</h3>
    <form action="/alunos/editar-aluno/{{ aluno.id_aluno }}/atualizar" method="POST">

        <input type="text" name="nome" placeholder="Nome do aluno" value="{{ aluno.nome }}" required>

        <input type="text" name="cpf" id="cpf" value="{{ aluno.cpf }}" 
            placeholder="000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
            title="Digite um CPF válido no formato 000.000.000-00" maxlength="14" required>

        <input type="text" name="email" placeholder="Email do aluno" value="{{ aluno.email }}" required>
        
        <label for="curso">Curso:</label>
            <select name="id_curso" id="curso" required>
                {% for c in cursos %}
                    <option value="{{ c['id_curso'] }}" 
                        {% if c['id_curso'] == aluno['id_curso'] %} selected {% endif %}>
                        {{ c['nome'] }}
                    </option>
                {% endfor %}
            </select>

        <input type="date" name="data_nascimento" value="{{ aluno.dt_nasc }}" required>
        
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
{% endblock %}