{% extends 'layout.html' %}

{% block content %}

<a href="/matriculas/adicionar-matricula/aluno" class="btn btn-secondary btn-sm">Adicionar matrícula</a>


<p><br></p>

<h1 class="mb-4">Lista de Matrículas</h1>

    <table class="table table-striped table-hover border">
        <thead class="table-dark">
            <tr>
                <th>ID matrícula</th>
                <th>ID Turma</th>
                <th>Aluno</th>
                <th>Disciplina</th>
                <th>Data de Inscrição</th>
                <th>Nota</th>
                <th>Frequência</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for matricula in matriculas %}
            <tr>
                <td>{{ matricula.id_mat }}</td>
                <td>{{ matricula.id_turma }}</td>
                <td>{{ matricula.aluno }}</td>
                <td>{{ matricula.disciplina }}</td>
                <td>{{ matricula.dt_inscricao }}</td>
                <td>{{ matricula.nota }}</td>
                <td>{{ matricula.frequencia }}</td>
                <td>{{ matricula.situacao }}</td>
                <td>
                    <a href="/matriculas/editar-matricula/{{ matricula.id_mat }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/matriculas/excluir-matricula/{{ matricula.id_mat }}" 
                    class="btn btn-danger btn-sm" 
                    onclick="return confirm('Tem certeza que deseja excluir este aluno?')">
                    Excluir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                <a class="page-link" href="/matriculas?page={{ 1 }}&busca={{ busca }}">Primeira Página</a>
            </li>
            <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                <a class="page-link" href="/matriculas?page={{ page - 1 }}&busca={{ busca }}">Anterior</a>
            </li>
            <li class="page-item {% if page >= total_paginas %}disabled{% endif %}">
                <a class="page-link" href="/matriculas?page={{ page + 1 }}&busca={{ busca }}">Próximo</a>
            </li>
            <li class="page-item {% if page >= total_paginas %}disabled{% endif %}">
                <a class="page-link" href="/matriculas?page={{ total_paginas }}&busca={{ busca }}">Última página</a>
            </li>
        </ul>
    </nav>

{% endblock %}